<div class="container">
  <form #usuarioForm="ngForm">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Nova Disciplina</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
               ngModel #nome="ngModel" required minlength="4" maxlength="50"/>
        <app-message [control]="nome" error="required"
                     text="Informe um nome"></app-message>
        <app-message [control]="nome" error="minlength"
                     text="O nome deve ter no mínimo {{nome.errors?.minlength?.requiredLength}}
                        caracteres!"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Descrição</label>
        <input type="text" pInputText name="descricao"
               ngModel #descricao="ngModel" required maxlength="200"/>
        <app-message [control]="descricao" error="required"
                     text="Informe a descrição"></app-message>
      </div>
      <div class="ui-g-9 ui-md-6 ui-fluid">
        <label>Professor</label>
        <p-dropdown placeholder="Selecione..." autoWidth="false"
                    [options]="professores"></p-dropdown>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Carga horária</label>
        <input type="number" pInputText name="carga"
               ngModel #carga="ngModel" required/>

        <app-message [control]="carga" error="required"
                     text="Informe a carga horária"></app-message>
      </div>
      <div class="ui-g-12">
        <label>Ativa </label>
        <p-checkbox [(ngModel)]="checked" binary="true" name="checkAtiva"></p-checkbox>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="ui-button-success" style="margin-right: 8px"
                [disabled]="!usuarioForm.valid"></button>
        <button pButton type="button" label="Novo" style="margin-right: 8px"></button>
        <a routerLink="/disciplinas">Voltar para listagem</a>
      </div>
    </div>
  </form>
</div>
