<div class="container">
  <div class="ui-g">
    <div class="ui-g">
      <div>
        <h2>Alunos</h2>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="alunos" [paginator]="true" [rows]="5"
                 [responsive]="true" #table>
          <ng-template pTemplate="header">
            <tr>
              <th class="col-id">Id</th>
              <th>Nome</th>
              <th class="col-matricula">Matricula</th>
              <th class="col-idade">Idade</th>
              <th class="col-acoes-header"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-aluno>
            <tr>
              <td class="col-id"><span class="ui-column-title">Id</span>{{ aluno.id }}</td>
              <td><span class="ui-column-title">Nome</span>{{ aluno.nome }}</td>
              <td class="col-matricula"><span class="ui-column-title">Matricula</span>{{ aluno.matricula }}</td>
              <td class="col-idade"><span class="ui-column-title">Idade</span>{{ calcularIdade(aluno.dataNascimento) }}
              </td>
              <td class="col-acoes">
                <a pButton icon="fa fa-eye" style="margin-right: 8px"
                   pTooltip="Detalhar" tooltipPosition="top" (click)="detalhar(aluno.id)">
                </a>
                <button pButton icon="fa fa-trash"
                        pTooltip="Excluir" tooltipPosition="top"
                        (click)="confirmarExlusao(aluno)">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="ui-g-12">
        <a pButton label="Novo Aluno" routerLink="/alunos/novo"></a>
      </div>

    </div>
  </div>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog" [ngClass]="{'show': showModal}">
    <div class="modal-dialog modal-sm modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Aluno detalhado</h4>
        </div>
        <div class="modal-body">
          <div class="ui-g-9 ui-fluid">
            <label><b>Matrícula:</b></label> {{aluno.matricula}}
          </div>
          <div class="ui-g-3 ui-fluid">
            <label><b>Id:</b></label> {{aluno.id}}
          </div>
          <div class="ui-g-12 ui-fluid">
            <label><b>Nome:</b></label> {{aluno.nome}}
          </div>

          <div class="ui-g-12">
            <label>
              <p-table [value]="aluno.disciplinas" [paginator]="true" [rows]="3"
                       [responsive]="true" #tableDisciplina>
                <ng-template pTemplate="header">
                  <tr>
                    <th>Disciplinas:</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-disciplina>
                  <tr>
                    <td><span class="ui-column-title">Nome</span>{{ disciplina.nome }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </label>
          </div>

        </div>
        <div class="modal-footer">
          <button pButton type="button" (click)="showModal=false" label="Fechar" style="margin-right: 8px"></button>
        </div>
      </div>

    </div>
  </div>
</div>
