<div class="container">
  <form #usuarioForm="ngForm" (ngSubmit)="salvar()">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Aluno</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
               ngModel #nome="ngModel" required minlength="4" maxlength="50"
               [(ngModel)]="aluno.nome"/>
        <app-message [control]="nome" error="required"
                     text="Informe um nome"></app-message>
        <app-message [control]="nome" error="minlength"
                     text="O nome deve ter no mínimo {{nome.errors?.minlength?.requiredLength}}
                        caracteres!"></app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99" name="cpf"
                     ngModel #cpf="ngModel" required
                     [(ngModel)]="aluno.cpf"></p-inputMask>
        <app-message [control]="cpf" error="required"
                     text="Informe o CPF"></app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Matrícula</label>
        <input type="text" pInputText name="matricula"
               ngModel #matricula="ngModel" required minlength="6" maxlength="6"
               [(ngModel)]="aluno.matricula"/>

        <app-message [control]="matricula" error="required"
                     text="Informe a matrícula"></app-message>
        <app-message [control]="matricula" error="minlength"
                     text="A matrícula deve ter {{matricula.errors?.minlength?.requiredLength}}
                        caracteres!"></app-message>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Disciplinas</label>
        <p-multiSelect [options]="disciplinas" name="disciplinas" [(ngModel)]="aluno.disciplinas"
                       defaultLabel="Selecione as disciplinas" dropdownIcon="fa fa-book"></p-multiSelect>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Data de Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="nascimento"
                    ngModel #nascimento="ngModel" required
                    [(ngModel)]="aluno.dataNascimento"></p-calendar>

        <app-message [control]="nascimento" error="required"
                     text="Informe a data de nascimento"></app-message>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="ui-button-success" style="margin-right: 8px"
                [disabled]="!usuarioForm.valid"></button>
        <button pButton type="button" label="Novo" style="margin-right: 8px"></button>
        <a routerLink="/alunos">Voltar para listagem</a>
      </div>
    </div>
  </form>
</div>
