<div class="container">
  <form #usuarioForm="ngForm">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Novo Aluno</h1>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
               ngModel #nome="ngModel" required minlength="4" maxlength="50"/>
        <app-message [control]="nome" error="required"
                     text="Informe um nome"></app-message>
        <app-message [control]="nome" error="minlength"
                     text="O nome deve ter no mínimo {{nome.errors?.minlength?.requiredLength}}
                        caracteres!"></app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>CPF</label>
        <p-inputMask mask="999.999.999-99" name="cpf"
                     ngModel #cpf="ngModel" required></p-inputMask>
        <app-message [control]="cpf" error="required"
                     text="Informe o CPF"></app-message>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Matrícula</label>
        <input type="text" pInputText name="matricula"
               ngModel #matricula="ngModel" required minlength="6" maxlength="6"/>

        <app-message [control]="matricula" error="required"
                     text="Informe a matrícula"></app-message>
        <app-message [control]="matricula" error="minlength"
                     text="A matrícula deve ter {{matricula.errors?.minlength?.requiredLength}}
                        caracteres!"></app-message>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <p-listbox [options]="disciplinas" [(ngModel)]="disciplinasSelecionadas" name="listDisciplina"
                   multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="name">
          <p-header>
            <i class="fa fa-book"></i>
            Disciplinas
          </p-header>
        </p-listbox>
        <p>Disciplinas Selecionadas: <span *ngFor="let c of disciplinasSelecionadas"
                                           style="margin-right: 10px">{{c.name}}</span></p>
      </div>
      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Data de Nascimento</label>
        <p-calendar dateFormat="dd/mm/yy" [showIcon]="true" name="nascimento"
                    ngModel #nascimento="ngModel" required></p-calendar>

        <app-message [control]="nascimento" error="required"
                     text="Informe a data de nascimento"></app-message>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" class="ui-button-success" style="margin-right: 8px"
                [disabled]="!usuarioForm.valid"></button>
        <button pButton type="button" label="Novo" style="margin-right: 8px"></button>
        <a href="javascript:;">Voltar para listagem</a>
      </div>
    </div>
  </form>
</div>
