<div class="container">
  <div class="ui-g">
    <div class="ui-g">
      <div>
        <h1>Disciplinas</h1>
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="disciplinas" [paginator]="true" [rows]="5"
                 [responsive]="true" #table>
          <ng-template pTemplate="header">
            <tr>
              <th class="col-id">Id</th>
              <th>Nome</th>
              <th>Descrição</th>
              <th class="col-matricula">Carga Horária</th>
              <th class="col-acoes-header"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-disciplina>
            <tr>
              <td class="col-id"><span class="ui-column-title">Id</span>{{ disciplina.id }}</td>
              <td><span class="ui-column-title">Nome</span>{{ disciplina.nome }}</td>
              <td><span class="ui-column-title">Descrição</span>{{ disciplina.descricao }}</td>
              <td class="col-cargaHoraria"><span class="ui-column-title">Carga Horária</span>{{ disciplina.cargaHoraria }}</td>
              <td class="col-acoes">
                <a pButton icon="fa fa-eye" style="margin-right: 8px"
                   pTooltip="Detalhar" tooltipPosition="top" [routerLink]="['/disciplinas/, disciplina.id']">
                </a>
                <button pButton icon="fa fa-trash"
                        pTooltip="Excluir" tooltipPosition="top"
                        (click)="confirmarExlusao(disciplina)">
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

      <div class="ui-g-12">
        <a pButton label="Nova Disciplina" routerLink="/disciplinas/nova"></a>
      </div>

    </div>
  </div>
</div>
